/* Edición General */
body{
    @extend %fondo-principal;
    font-family: $fuente-principal;
    a{
        text-decoration: none;
        @extend %link-general;
        font-weight: normal;
        &:hover{
            @extend %hover-general;
            @extend %transition-general;
        }
    }
}

/* Edición de botón de formulario */
.buttonform {
    color:$bg-principal;
    margin: 1em;
    padding: 1em;
    border: solid 1px $bg-principal;
    border-radius: 2em;
    background-color: black;
    font-size: 0.8em;
    &:hover{
        background-color: rgb(34, 34, 34);
        border: solid 1px $bg-principal;
        border-radius: 1.25em;
        @extend %transition-general;
        color:$hover-principal;
    }
}
/* Fin de edición de botón de formulario */

/*Edición en body*/
.ventaspm{
    @include flexbox(flex, row nowrap, center);
    margin-bottom: 0.8em;
    @extend %fondo-principal;
}
.contactos-container{
    @include flexbox(flex, row wrap, center);
    flex:1;
    .contactos-item{
        @include flexbox(flex, column wrap, flex-start);
        align-items: center;
        .formulario{
            display: flex;
            flex-flow: column nowrap;
            form{
                margin: 0.8em;
            }
            .inputlabel{
                display: flex;
                align-self: flex-end;
            }
        }
        li{
            overflow: hidden;
        }
    }
    .ci-ubicacion{
        flex-grow: calc(2);
        .ubicacion:hover{
            transform: scale(1.10);
            @extend %box-shadow-negra;
            @extend %transition-general;
        }
    }
}

.fa-cart-arrow-down:hover{
    @extend %scale125;
    @extend %transition-general;
}

/*Arreglo de anclaje de enlaces respecto al header sticky*/
.ancla::before{
    display: block;
    content: " ";
    margin-top: -5.5em;
    height: 5.5em;
    visibility: hidden;
}
/* Fin de edición general en body */