@import '../base/extends';
@import '../base/mixins';

/* Edición de Multimedia */
.atencion{
    @include flexbox(flex, row nowrap, center);
    margin: 1rem;
}
/* Edición de productos */
.producto-container{
    @include flexbox(flex, row wrap, space-around);
    margin: 10px;
    .producto{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        margin: 10px;
        img{
            width: 100%;
            @extend %margin5;
        p{
            @extend %margin5;
        }
        a{
            @extend %margin5;
        }
            &:hover{
                @extend %box-shadow-negra;
                @extend %transition-general;
            }
        }
    }
}
.productoprin img:hover{
    @extend %box-shadow-negra;
    @extend %transition-general;
}
.producto-1p{
    display: flex;
    flex-direction: row;
}
/* Fin de edición de productos */
/* Fin de edición de multimedia */