/* Edici贸n de Multimedia */
.atencion{
    @include flexbox(flex, column wrap, center);
    align-items: center;
    margin: 0.5em;
    img{
        @media screen and (max-width:480px){
            width: 75%;
        }
        width: 30%;
    }
    p{
        @media screen and (max-width:480px){
            font-size: 0.8em;
        }
        text-align: center;
    }
}
/* Edici贸n de productos */
.producto-container{
    @media screen and (max-width:480px){
        @include flexbox(flex, column wrap, space-around);
    }
    @include flexbox(flex, row wrap, center);
    margin: 0.8em;
    .producto{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.8em;
        padding: 0.5em;
        overflow: hidden;
        @media screen and (max-width:480px){
            margin-left: auto;
            width: 100%;
        }
        width: 20%;
        img{
            width: 100%;
            @media screen and (max-width:480px){
                height: auto;
                filter:none;
            }
            // height: 45vh;
            @extend %margin5;
            filter: grayscale(60%);
            &:hover{
                @extend %box-shadow-negra;
                @extend %transition-general;
                filter: none;
            }
        }
        p{
            @extend %margin5;
            text-transform: uppercase;
        }
        .precio{
            font-weight: bolder;
            color: $hover-principal;
        }
        .lo-quiero {
            margin: 1em;
            padding: 1em;
            border: solid 1px white !important;
            border-radius: 2em;
            background-color: black;
            font-size: 0.8em;
            &:hover{
                background-color: rgb(34, 34, 34);
                border: solid 1px white;
                border-radius: 1.25em;
                @extend %transition-general;
            }
            a{
                @extend %margin5;
                color: white;
            }
        }
    }
}
.productoprin{
    overflow: hidden;
    :hover img{
        transform: scale(1.15);
        -webkit-transform:scale(1.15);
    }
    img:hover{
            filter: brightness(125%);
            @extend %transition-general;
    }
}
.foto-bio{
    @media screen and (max-width:480px){
        width: 50%;
    }
    width: 25%;
}
/* Fin de edici贸n de productos */
/* Fin de edici贸n de multimedia */