@import '../base/extends';
@import '../base/mixins';

/* Edición de Multimedia */
.atencion{
    @include flexbox(flex, row nowrap, center);
    margin: 0.5em;
}
/* Edición de productos */
.producto-container{
    @media screen and (max-width:480px){
        @include flexbox(flex, column wrap, space-around);
    }
    @include flexbox(flex, row wrap, space-around);
    margin: 0.8em;
    .producto{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        @media screen and (max-width:480px){
            margin-left: auto;
            width: 100%;
        }
        width: 20%;
        img{
            width: 100%;
            @extend %margin5;
        p{
            @extend %margin5;
        }
        a{
            @extend %margin5;
        }
            &:hover{
                @extend %box-shadow-negra;
                @extend %transition-general;
            }
        }
    }
}
.productoprin img:hover{
    @extend %box-shadow-negra;
    @extend %transition-general;
}
.producto-1p{
    display: flex;
    flex-direction: row;
}
/* Fin de edición de productos */
/* Fin de edición de multimedia */