// Edición de texto
h1{
    text-align: center;
    font-family: AmaticSC-Regular;
    font-weight: bolder;
    background-image: url('../multimedia/images/fondo-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    @media screen and (max-width:480px){
        font-size: 2.5rem;
    }
    font-size: 4rem;
}
h2{
    // padding-top: 7rem;
    margin: 2rem 0 2rem 0;
    text-align: center;
    background-image: url('../multimedia/images/fondo-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
}
h3{
    margin: 2rem 2rem 2rem 2rem;
    text-align: center;
}
.nstext{
    display: flex;
    align-items: center;
    justify-content: center;
}
.presentacion{
    text-align: center;
    color:rgb(255, 168, 183);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    -webkit-text-stroke: black 0.6px;
}
.texto-comun{
    text-align:justify;
    font-weight:unset;
    margin: 2rem auto 2rem auto;
    width: 75%;
}
.copyright{
    font-size: 0.75em;
}
.medios-item{
    margin: 3rem;
}

// Fin de edición de texto